extends layout

block content
  h1 Welcome to compare api
  form(action="/compare", method="post", enctype="multipart/form-data")
    input(type="file", name="file1")
    input(type="file", name="file2")
    input(type="submit", value="compare")

